<script>
    new Valine({
        avatar: 'retro',
        el: '#comments',
        appId: '{{ site.data.social.valine_comment.leancloud_appid }}',
        appKey: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}',
        emojiCDN: 'http://atlinker.cn/exp/', 
          emojiMaps: {
        "redface":"redface.gif",
        "wry":"wry.gif",
        "sweat":"sweat.gif",
        "bad":"bad.gif",
        "cool":"cool.gif",
        "cry":"cry.gif",
        "dull":"dull.gif",
        "gaze":"gaze.gif",
        "shy":"shy.gif",
        "ahaha":"ahaha.gif",
        "lol":"lol.gif",
        "emm":"emm.gif",
        "nb":"nb.gif",
        "neutral":"neutral.gif",
        "savila":"savila.gif",
        "razz":"razz.gif",
        "rolleyes":"rolleyes.gif",
        "sad":"sad.gif",
        "smile":"smile.gif",
        "surprised":"surprised.gif",
        "despise":"despise",
        "yeah":"yeah.gif",
        "pp1":"pp1.png",
        "pp2":"pp.png",
        "pp3":"pp.png",
        "pp4":"pp.png",
        "pp6":"pp.png",
        "pp8":"pp.png",
        "pp9":"pp.png",
        "pp10":"pp.png",
        "funnycry":"funnycry.png",
        "funnyangry":"funnyangry.png",
    }
    });
</script>
