<script>
    var option = {
        avatar: 'retro',
        el: '#comments',
        serverURLs: 'https://1m1duhf0.api.lncldglobal.com'
        path: window.location.pathname,
        appId: '{{ site.data.social.valine_comment.leancloud_appid }}',
        appKey: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}',
        emojiCDN: 'http://atlinker.cn/exp/', 
          emojiMaps: {
        "redface":"redface.gif",
        "wry":"wry.gif",
        "sweat":"sweat.gif",
        "bad":"bad.gif",
        "cool":"cool.gif",
        "cry":"cry.gif",
        "dull":"dull.gif",
        "gaze":"gaze.gif",
        "shy":"shy.gif",
        "ahaha":"ahaha.gif",
        "lol":"lol.gif",
        "emm":"emm.gif",
        "nb":"nb.gif",
        "neutral":"neutral.gif",
        "savila":"savila.gif",
        "razz":"razz.gif",
        "rolleyes":"rolleyes.gif",
        "sad":"sad.gif",
        "smile":"smile.gif",
        "surprised":"surprised.gif",
        "despise":"despise.gif",
        "yeah":"yeah.gif",
        "pp1":"pp-1.png",
        "pp2":"pp-2.png",
        "pp3":"pp-3.png",
        "pp4":"pp-4.png",
        "pp6":"pp-6.png",
        "pp8":"pp-8.png",
        "pp9":"pp-9.png",
        "pp10":"pp-10.png",
        "funnycry":"funnycry.png",
        "funnyangry":"funnyangry.png",
    }
    };
var valine = new Valine(option);
</script>
