<script>
    new Valine({
        avatar: 'retro',
        el: '#comments',
        avatar_cdn: 'https://gravatar.loli.net/avatar/',
        serverURLs: 'https://api.atlinker.cn',
        appId: '{{ site.data.social.valine_comment.leancloud_appid }}',
        appKey: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}',
        emojiCDN: 'http://atlinker.cn/exp/new/', 
          emojiMaps: {
        "a1":"a1.gif",
        "a2":"a2.gif",
        "a3":"a3.gif",
        "a4":"a4.gif",
        "a5":"a5.gif",
        "a6":"a6.gif",
        "a7":"a7.gif",
        "aru8":"aru8.png",
        "a8":"a8.gif",
        "a9":"a9.gif",
        "a10":"a10.gif",
        "a11":"a11.gif",
        "a12":"a12.gif",
        "a13":"a13.gif",
        "a14":"a14.gif",
        "a15":"a15.gif",
        "a16":"a16.gif",
        "a17":"a17.gif",
        "a18":"a18.gif",
        "a19":"a19.gif",
        "a20":"a20.gif",
        "a21":"a21.gif",
        "a22":"a22.gif",
        "a23":"a23.gif",
        "a24":"a24.gif",
        "a25":"a25.gif",
        "a26":"a26.gif",
        "a27":"a27.gif",
        "a28":"a28.gif",
        "a29":"a29.gif",
        "a30":"a30.gif",
        "a31":"a31.gif",
        "a32":"a32.gif",
        "a33":"a33.gif",
        "a34":"a34.gif",
        "a35":"a35.gif",
        "a36":"a36.gif",
        "a37":"a37.gif",
        "a38":"a38.gif",
        "a39":"a39.gif",
        "a40":"a40.gif",
        "pp1":"pp-1.png",
        "pp2":"pp-2.png",
        "pp3":"pp-3.png",
        "pp4":"pp-4.png",
        "pp6":"pp-6.png",
        "pp8":"pp-8.png",
        "pp9":"pp-9.png",
        "pp10":"pp-10.png",
        "funnycry":"funnycry.png",
        "funnyangry":"funnyangry.png",
    }
    });
</script>
