<script src="https://unpkg.com/@waline/client@v3/dist/waline.js" data-no-instant></script>

    <script type="module" data-no-instant>
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      placeholder: 'Talkk！',
      imageUploader: false,
      search: false,
      emoji: ['//unpkg.com/@waline/emojis@1.4.0/weibo', 'https://unpkg.com/@waline/emojis@1.4.0/alus', '//unpkg.com/@waline/emojis@1.4.0/tieba'],
      serverURL: 'https://social.atlinker.cn',
    });
  </script>
