<script src="https://unpkg.com/@waline/client@v3/dist/waline.js" data-no-instant></script>

    <script type="module" data-no-instant>
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      locale: {
    placeholder: 'Talkk!',
  },
      el: '#waline',
      placeholder: 'Talkk！',
      imageUploader: false,
      search: false,
      emoji: ['//demo.atlinker.cn/emoji/emojis/weibo', '//demo.atlinker.cn/emoji/emojis/alus', '//demo.atlinker.cn/emoji/emojis/tieba'],
      serverURL: 'https://social.atlinker.cn',
    });
  </script>
