<!DOCTYPE HTML>

 <head>

   <link rel=stylesheet href="http://linker.ml/style.css">
   <script src="k.js"></script>
   <meta http-equiv="Cache-control" content="no-cache">
   <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
   <meta charset="utf-8">
   <link rel="shortcut icon" type="image/x-icon" href="http://linker.ml/img/favicon.ico" media="screen"/>
</head>
<title>H₂ 每日一文</title>
<body>


 <div class="mdp bg">

  <div class="title">
每日一文，在此偶遇
  </div>
  <div class="s-top" id="yiyan">
  </div>
   <script>
var body=document.getElementsByTagName('body')[0];
for(var i=0;i<100;i++){
var a=0;
var t=setTimeout("body.style.opacity=a/100;a++;",i*5);
}

window.onload=function()

{
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        //  给IE7+, 火狐, Chrome, O嘭, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // 给IE6, IE5的
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            document.getElementById("yiyan").innerHTML=xmlhttp.responseText;
        }
    }
    xmlhttp.open("GET","https://api.lwl12.com/hitokoto/main/get",true);
    xmlhttp.send();
}
   </script>
   <div id="sc">
   </div>
  </div>
 <div style="margin:15px">

  {% for post in paginator.posts %}
  <div class="cmdp">
   <div class="stitle">
   {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
    <h2>
    <div id="title">{{ post.title | escape }}
    </div>
    </h2>
   </div>
   <div class="sg" id="author">{{ post.date | date: date_format }}
   </div>
   <div class="s-bot" id="content">{{ post.excerpt | markdownify | truncatewords: 30 }}
   </div>
  </div>
  {% endfor %}

 </body>
 <div class="footers">
  <div class="footext-l">
H₂ 每日一文，在此偶遇 <br>
&copy;Copyright link 2017.
  </div>
 </div>
</body>
<script src="https://lkins.ml/coco"></script>
