---
layout: default
---
<article>

  <div>
    {{ content }}
  </div>

  {% if page.song == 't' %}
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="//music.163.com/outchain/player?type=0&id=2665016188&auto=0&height=430"></iframe>
  {% endif %}
  
</article>

<hr>

{% if page.vc == 't' %}
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
  <div id="waline"></div>
  {% comment %}
  <script src="/comment/av-min.js" data-no-instant></script>
  <script src="/comment/valine.js" data-no-instant></script>
  <div id="comments"></div>
  {% endcomment %}
  {% include waline.html %}
  {% include scripts.html %}
{% endif %}
