---
layout: default
---
<article>

  <div>
    {{ content }}
  </div>

  {% if page.song == 't' %}
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="//music.163.com/outchain/player?type=0&id=2665016188&auto=0&height=430"></iframe>
  {% endif %}
  
</article>

<hr>

{% if page.vc == 't' %}
  <script src="/comment/av-min.js"></script>
  <script src="/comment/valine.js"></script>
  <div id="comments"></div>
  {% include new_comments.html %}
  {% include scripts.html %}
{% endif %}
